*{
  font-family: 'Lab Grotesque', Arial, Helvetica, sans-serif;
}
.container{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);


.button{
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 198px;
  height: 56px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 16px;
}

.button:hover{
  transition: 1s;
  background-color: white;
  color: black;
  cursor: pointer;
}

}


